:root {
    /* Hier deine Farbpalette definieren */
    --primary-green: #4CCD4F;
    --secondary-green: #679D68;
    --light-green: #8DCB8E;
    --hover-green: #79B87A;
    --icon-color: #536360;
    --border-color: #796f6f;
    --chat-background-color: #E1ECEB;
}

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Heir der Hintergrund */
}

body {
    background-color: white;
}

.main-container {
    display: flex;
    flex: 1;
}

.main-sidbar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary-green);
}

.main-sidbar-settings-and-apps {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.sidebar-icon {
    font-size: 30px;
    color: var(--icon-color);
}

.main-sidbar-profil-avatar img {
    object-fit: cover;
    /* So wird das bild nicht verzert*/
    border-radius: 50%;
    width: 65px;
}

.main-sidbar-profil p {
    justify-content: center;
    text-align: center;
}

.main-sidbar-profil {
    padding: 5px;
}

/* Chat and Groups */
.main-chat-and-groups {
    display: flex;
    flex-direction: column;

    /* oben/unten rechts/links */
    border: none;
    background-color: var(--secondary-green);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
}



.main-chat-and-group-search {
    padding: 0 15px;
}

.main-chat-and-groups-header-and-buttons {
    padding: 0 15px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    /* Abstand zwischen allen Flex-Items */
}

.main-chat-and-groups-buttons button {
    background: transparent;
    /* kein Hintergrund */
    border: none;
    /* kein Rahmen */
    border-radius: 50%;
    /* rund */
    cursor: pointer;
    font-size: 30px;
    color: #536360;
    /* zeigt, dass es klickbar ist */
    /* padding für Größe */
    /* transition für sanften Übergang */
}

.main-chat-and-groups-buttons button:hover {
    background-color: var(hover-green);
}

/* Darstellung Chat und Gruppe */
.main-chat-and-groups-list-wraper {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border: none;
    /* alle Ränder weg */
    border-top: 1px solid #796f6f;
    border-bottom: 1px solid #796f6f;
    padding: 10px 5px 10px 5px;
    justify-content: space-between;
    align-items: center;
}

.main-chat-and-groups-list-wraper:hover, .main-chat-and-groups-list-wraper-active {
    background-color: #8DCB8E;
}

.main-chat-and-groups-list-avatar {
    font-size: 30px;
    border-radius: 50%;
}

.main-chat-and-groups-list-name {
    font-size: 20px;

}

/* Chat-Content */
/* Header bereich */
.main-chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.main-chat-content-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    border: none;
    background-color: var(--secondary-green);
    border-bottom: 1px solid var(--border-color);
    align-items: center;
    font-size: 30px;
}

.main-chat-content-header-avatar-and-name {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.main-chat-content-header-buttons button {
    background: transparent;
    border: none;
    /* kein Rahmen */
    border-radius: 10%;
    /* rund */
    cursor: pointer;
    font-size: 30px;
    color: #536360;
}

.main-chat-content-header-buttons button:hover {
    background-color: var(--hover-green);
}

.main-chat-content-message {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--chat-background-color);
}