{% extends "layouts/web_app_layouts/BasicChat_web_app_base.html" %} {% block
content %}
<div class="main-container">
  <div class="main-sidbar">
    <div class="main-sidbar-profil">
      <div class="main-sidbar-profil-avatar">
        <img src="{{ current_user.avatar(32) }}" alt="Profilbild" />
      </div>
      <p>{{ current_user.username }}</p>
    </div>
    <div class="main-sidbar-settings-and-apps">
      {% if current_user|has_admin_rights %}
      <a href="#"><i class="sidebar-icon bi bi-gear-fill"></i> </a>
      {% endif %}
      <a href="{{ url_for('myapp.home') }}">
        <i class="sidebar-icon bi bi-grid-3x3-gap-fill"></i>
      </a>
    </div>
  </div>
  <div class="main-chat-and-groups">
    <div class="main-chat-and-groups-header-and-buttons">
      <div class="main-chat-and-groups-header">
        <h4>{{ app_config.app_name }}</h4>
      </div>
      <div class="main-chat-and-groups-buttons">
        <button><i class="bi bi-person-plus-fill"></i></button>
      </div>
    </div>
    <div class="main-chat-and-group-search">
      <div class="form-outline" data-mdb-input-init>
        <input
          type="search"
          id="form1"
          class="form-control"
          placeholder="Suchen"
          aria-label="Search"
        />
      </div>
    </div>
    <div class="main-chat-and-groups-list">
      <!-- Hier kann durch iteriert werden mit jinja2 -->
      <div class="main-chat-and-groups-list-wraper">
        <div class="main-chat-and-groups-list-avatar">
          <!-- Das icon ist nur ein Plazhalter -->
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="main-chat-and-groups-list-name">Name Kollege</div>
        <div class="main-chat-and-groups-list-last-message">22:22</div>
      </div>
    </div>
  </div>
  <div class="main-chat-content">
    <div class="main-chat-content-header">
      <div class="main-chat-content-header-avatar-and-name">
        <div class="main-chat-content-header-avatar">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="main-chat-content-header-name"><h4>Name Kollege</h4></div>
      </div>
      <div class="main-chat-content-header-buttons">
        <button><i class="bi bi-search"></i></button>
        <button><i class="bi bi-star"></i></button>
      </div>
    </div>
    <div class="main-chat-content-message"></div>
  </div>
</div>
{% endblock %}
